/* GLOBAL STYLES */
*{
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}
/* BLOCK LINKS FOR FULL HEIGHT */
a{
    display: block;
    text-decoration: none;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

body{
    font-family: "roboto", "Arial", sans-serif;
    color: #555252;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* UPPER CASE TEXT */
.upper {
    text-transform: uppercase;
}
/* HEADER */

.logo{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #555252;
    font-weight: 400;
    font-size: 30px;
}

.logo span{
    font-weight: 900;
    color: #1abc9c;
}
.main-nav{
    position: relative;
    padding-top: 32px;
    padding-bottom: 28px;
}


.main-menu{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
    width: 490px;
    align-items: center;
    list-style: none;
    
}

.main-menu-item{
    float: left;
}

.main-menu-item:not(:last-child){
    margin-right: 33px;
}

.main-menu-item a{
    font-family: "open sans";
    font-size: 14px;
    color: #0f0101;
    font-weight: 900;
    line-height: 0.786;
}

.main-menu-item a:hover, .page-menu-item a:focus    {
    color: #1abc9c;
}
/* MAIN */

.main-content{
    /* background-color: #e9f0fd; */
}

.btn-container{
    position: absolute;
    display: block;
    width: 80%;
    height: 104px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}

#slider, .slider-container, .slide-content{
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    position: relative;
    color: #fff;
}

.slider-container{
    margin-bottom: 92px;
}

.wrap{
    position: relative;
}
.slide{
    background-size: cover;
    background-position: center;
}

.slide1{
    background-image: url(../img/slide4.png);
    background-color: rgba(0, 0, 0, 0.52);
}

.slide2{
    background-image: url(../img/slide3.jpeg);
    background-color: rgba(0, 0, 0, 0.52);
}

.slide3{
    background-image: url(../img/avocado.jpg);
    background-color: rgba(0, 0, 0, 0.52);
}

.slide::before{
    content: "";
    background-color: purple;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.text-container{
    top: 50%;
    width: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}



.slide-content h2{
    font-size: 60px;
    text-align: center;
    margin-bottom: 32px;
}



.slide-content p{
    font-size: 24px;
    text-align: center;
}


.left{
    position: relative;
    right: 0;
}


.left::after{
    position: absolute;
    content: "";
    background-image: url(../img/left.png);
}

.slider-ctrl{
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    background-color: #4ec6ac;
    opacity: 0.52;
    width: 104px;
    height: 104px;  
    border: none;
    outline: none;
}

.slider-ctrl:hover{
    opacity: 1;
}

.slider-ctrl-prev{
    left: 0;
}

.slider-ctrl-prev::after{
    position: absolute;
    content: "";
    background-image: url(../img/left.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 104px;
    width: 104px;
    z-index: 20;
}

.slider-ctrl-next::after{
    position: absolute;
    content: "";
    background-image: url(../img/right.png);
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    height: 104px;
    width: 104px;
    z-index: 20;
}
.slider-ctrl-next {
    right: 0;
  }

  /* NEW COLLECTION */

.collection{
    padding-bottom: 88px;
}
.section-title{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 90px;
}


.section-title::after{
    display: block;
    margin: 30px auto;
    content: '';
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
}

.collection-list{
    max-width: 1110px;
    list-style: none;
}

.collection-item{
    float: left;
    position: relative;
    height: 322px;
    width: 255px;
}

.collection-item:not(:last-child){
    margin-right: 30px;
}

.colection-item-hidden{
    position: absolute;
    width: 100%;
    height: 283px;
    border-width: 10px;
    border-color: #ffffff;
    border-style: solid;
    background-color: #000000;
    opacity: 0;
    top: 0;
    left: 0;
}

.collection-item:hover .colection-item-hidden{
    opacity: 0.549;
}
/* HIDDEN BUTTONS */
.hidden-content{
    opacity: 0;
    position: absolute;
    margin: auto;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);

}

.hidden-content-narrow{
    width: 166px;
    margin-bottom: 7px;
}


.hidden-btn{
    float: left;
    border-width: 1px;
    border-color: #ffffff;
    border-style: solid;
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

.hidden-btn:not(:last-child){
    margin-right: 8px;
}

.hidden-btn:hover{
    background-color: #1abc9c;
}


.btn-wide{
    text-align: center;
    background-color: #323232;
    font-family: 'roboto';
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    width: 166px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    padding: 8px 12px;
}


.btn-wide::before{
    display: inline-block;
    content: '';
    background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 40px;
    width: 40px;
    
}
.like{
    background-image: url(../img/like.png);
}

.shuffle{
    background-image: url(../img/shuffle.png);
}

.clock{
    background-image: url(../img/clock.png);
}

.cart{
    background-image: url(../img/cart.png);
}

.collection-item:hover .hidden-content{
    opacity: 1;
}


/* CARD PRICES AND DETAILS */
.featured-item-details{
    position: absolute;
    bottom: 0;
    padding: 0;
    background-color: #323232;
    height: 40px;
    width: 255px;
}

.feeatured-item-name{
    box-sizing: border-box;
    float: left;
    text-align: left;
    text-transform: uppercase;
    padding: 4px 13px 4px;
}

.price-font{
    font-size: 18px;
    line-height: 32px;
    color: #ffffff;
}

.item-price-container{
    float: right;
    padding: 4px;
    height: 40px;
    width: 40px;
    background-color:#8c8c8c;
}

.price{
    text-align: center;

}

.collection-item:hover .featured-item-details{
    background-color: #1abc9c;
}

.collection-item:hover .item-price-container{
    background-color: #7fd9c7;
}

.footer{
    position: relative;
    height: 88px;
    background-color: #323232;
    padding: 30px 0;
}

.footer p{
    text-align: center;
    text-transform: none;
    font-size: 16px;
    font-family: "Open Sans";
    color: rgb(254, 254, 254);
    line-height: 1.75;
}

.footer p span{
    color: #46bfa9;
}
